 <!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li><%= link_to 'My Profile', edit_user_registration_path %></li>
  <li><a href="#">My Course</a></li>
  <li class="divider" tabindex="-1"></li>
 <li> <%= link_to 'Log out', destroy_user_session_path,method: :delete %></li>

</ul>
<ul id='dropdown2' class='dropdown-content'>
 <li><%= link_to 'My Profile', edit_user_registration_path %></li>
  <li><a href="#">M y Course</a></li>
  <li class="divider" tabindex="-1"></li>
  <li> <%= link_to 'Log out', destroy_user_session_path,method: :delete %></li>
</ul>
